/* *{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

/* body {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(logo.webp);
    background-size: cover;
    background-position: center;
} */

main{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/resources/image/logo.webp);
    background-size: cover;
    background-position: center;
}


.cover_box {
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(0); */
    overflow: hidden;
    transition: transform .5s ease, height .2s ease, border-color 0.5s ease;
}

.cover_box:hover{
    border-color: white;
    animation: border-glow 1s infinite alternate;

}

@keyframes border-glow{
    from{
        border-color: white;
        box-shadow: 0 0 20px black;

    }
    to{
        border-color: whitesmoke;
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}

.cover_box.active-popup{
    transform: scale(1);
}

.cover_box.active{
    height: auto;
    min-height: 1000px
}

.cover_box .form-box{
    width: 100%;
    padding: 40px;
}

.cover_box .form-box.login {
    transition: transform .50s ease;
    transform: translateX(0);
}

.cover_box.active .form-box.login{
    transition: none;
    transform: translateX(-400px);

}

.cover_box .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.cover_box.active .form-box.register{
    transition: transform .50s ease;
    transform: translateX(0);
}

.cover_box .icon_close{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 45px;
    height: 45px;
    background-color: black;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: black;
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box > .label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent; 
    /* 투명명 */
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size:  1.2em;
    color: black;
    line-height: 57px;
}

.remember-forget{
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    accent-color: black;
    margin-right: 3px;
}

.remember-forget a {
    color: black;
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    text-align: center;
    color: white;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: gray;
    text-decoration: none;
    font-weight: 600;
}