body {
    font-family: Arial, sans-serif;
}

.payment-container {
    margin: 40px;
}

.payment{
    width: 70%;
    margin: auto !important;   /* 가운데 정렬 */
}

/* .payment-left{
    height: 500px;
}
.payment-right {
    height: 500px;
} */

.payment-coupon, .payment-method {
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.payment-total {
    padding: 20px;
    margin-bottom: 10px;
}

.movImg img{
    width: 100px;
    height: 140px;
    object-fit: cover;
}
.payment-info{
    display: flex;
    margin-bottom: 20px;
}
.payment-top{
    margin-top: 10px;
}

.payment-infoSection {
    /* background-color: #e0f7fa; */
    border-top: 2px solid black;
}

.payment-coupon {
    /* background-color: #d4edda; */
    height: 300px;
}

.payment-method {
    /* background-color: #d1ecf1; */
    height: 300px;
}

.payment-total {
    background-color: #302f2f;
    color: white;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}
