<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.movie.plex.movies.MovieDTO" alias="MovieDTO"/>
		<typeAlias type="com.movie.plex.theater.TheaterDTO" alias="TheaterDTO"/>
		<typeAlias type="com.movie.plex.movieBooks.MovieBookDTO" alias="MovieBookDTO" />
		<typeAlias type="com.movie.plex.review.ReviewDTO" alias="ReviewDTO"/>
		<typeAlias type="com.movie.plex.movieBooks.MoviePayments" alias="MoviePayments"/>
	
		<!-- <typeAlias type="com.movie.plex.review.ReviewDTO" alias="ReviewDTO"/> -->
		<typeAlias type="com.movie.plex.users.UserDTO" alias="UserDTO"/>
		<typeAlias type="com.movie.plex.coupon.CouponDTO" alias="CouponDTO"/>
		<typeAlias type="com.movie.plex.couponConnect.CouponConnectDTO" alias="CouponConnectDTO"/>
		
		<typeAlias type="java.util.Map" alias="Map"/> 
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>
