<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.movie.plex.movies.MovieDTO" alias="MovieDTO"/>
		<typeAlias type="com.movie.plex.pages.Pager" alias="Pager"/>
		<typeAlias type="com.movie.plex.theater.TheaterDTO" alias="TheaterDTO"/>
		<typeAlias type="com.movie.plex.movieBooks.MovieBookDTO" alias="MovieBookDTO" />
		<typeAlias type="com.movie.plex.movieBooks.MoviePayments" alias="MoviePayments"/>
		<typeAlias type="com.movie.plex.movieBooks.MovieBookDTO" alias="MovieBookDTO"/>
		<typeAlias type="com.movie.plex.theater.SeatDTO" alias="SeatDTO"/>
		<typeAlias type="com.movie.plex.pages.MoviesPager" alias="MoviesPager"/>

		<typeAlias type="com.movie.plex.pages.ReviewPager" alias="ReviewPager"/>
		<typeAlias type="com.movie.plex.nestcontents.NestContentDTO" alias="NestContentDTO"/>
		<typeAlias type="com.movie.plex.review.ReviewDTO" alias="ReviewDTO"/>
		<typeAlias type="com.movie.plex.review.ReviewCommentDTO" alias="ReviewCommentDTO"/>
		<typeAlias type="com.movie.plex.like.ContentsLikeDTO" alias="ContentsLikeDTO"/>
		<typeAlias type="com.movie.plex.like.ReviewLikeDTO" alias="ReviewLikeDTO"/>
	
		<typeAlias type="com.movie.plex.users.UserDTO" alias="UserDTO"/>
		<typeAlias type="com.movie.plex.coupon.CouponDTO" alias="CouponDTO"/>
		<typeAlias type="com.movie.plex.couponConnect.CouponConnectDTO" alias="CouponConnectDTO"/>
		<typeAlias type="com.movie.plex.boards.faq.FaqDTO" alias="FaqDTO"/>
		<typeAlias type="com.movie.plex.boards.faq.FaqFilesDTO" alias="FaqFilesDTO"/>
		<typeAlias type="com.movie.plex.boards.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.movie.plex.boards.notice.NoticeFilesDTO" alias="NoticeFilesDTO"/>
		<typeAlias type="com.movie.plex.boards.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.movie.plex.boards.qna.QnaFilesDTO" alias="QnaFilesDTO"/>
		<typeAlias type="com.movie.plex.websocket.ChatRoom" alias="ChatRoom"/>
		<typeAlias type="com.movie.plex.websocket.ChatRoomJoin" alias="ChatRoomJoin"/>
		<typeAlias type="com.movie.plex.websocket.ChatMessage" alias="ChatMessage"/>
		
		<typeAlias type="java.util.Map" alias="Map"/> 
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>
