<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.movie.plex.like.ContentsLikeDAO">

	
	<!-- 좋아요 추가 -->
	<insert id="addLike" parameterType="ContentsLikeDTO">
			INSERT INTO CONTENTSLIKE (LIKEID, USERNUM, CONTENTID, KIND)
			VALUES (LIKEID_SEQ.NEXTVAL, #{userNum}, #{contentId}, #{kind})
	</insert>
	
	<!-- 좋아요 취소 -->
	<delete id="deleteLike" parameterType="ContentsLikeDTO">
			DELETE FROM CONTENTSLIKE
			WHERE USERNUM= #{userNum}
			AND CONTENTID = #{contentId}
			AND KIND = #{kind}
	</delete>
	
	<select id="getLikedContentsIds" resultType="long" parameterType="map">
	    SELECT CONTENTID
	    FROM CONTENTSLIKE
	    WHERE USERNUM = #{userNum}
	    AND KIND = #{kind}
	</select>
	
	<select id="isLiked" parameterType="ContentsLikeDTO" resultType="int">
	    SELECT COUNT(*) 
	    FROM CONTENTSLIKE 
	    WHERE USERNUM = #{userNum} AND CONTENTID = #{contentId} AND KIND = #{kind}
	</select>
	
	
	
	
	
	
	
	
  </mapper>