<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.movie.plex.boards.faq.FaqDAO">
  	<select id="getList" resultType="FaqDTO">
		SELECT * FROM FAQ
	</select>
	
	<select id="getDetail" parameterType="FaqDTO" resultType="FaqDTO">
		SELECT * FROM FAQ WHERE FAQNUM =#{faqNum}
	</select>
	
	<insert id="add" parameterType="FaqDTO">
		INSERT INTO FAQ
		VALUES (FAQNUM_SEQ.NEXTVAL,#{boardTitle},#{boardContents},SYSDATE,0,0,0,0,#{userNum})
	</insert>
	
	<insert id="addFile" parameterType="FaqFilesDTO">
		INSERT INTO FAQFILES VALUES (FILENUM_SEQ.NEXTVAL, #{fileName}, #{oldName}, #{faqNum})
	</insert>
	
	<update id="update" parameterType="FaqDTO">
		UPDATE FAQ SET BOARDTITLE=#{boardTitle}, BOARDCONTENTS=#{boardContents} WHERE FAQNUM=#{faqNum}
	</update>
	
	<update id="updateHit" parameterType="FaqDTO">
		UPDATE FAQ SET BOARDHIT=BOARDHIT+1 WHERE FAQNUM=#{faqNum}
	</update>
	
	<delete id="delete" parameterType="FaqDTO">
		DELETE FAQ WHERE FAQNUM =#{faqNum}
	</delete>
	
	<select id="getFileDetail" parameterType="FaqFilesDTO" resultType="FaqFilesDTO">
		SELECT * FROM FAQFILES WHERE FILENUM = #{fileNum}
	</select>
	
	<delete id="deleteFile" parameterType="FaqFilesDTO">
		DELETE FAQFILES WHERE FILENUM = #{fileNum}
	</delete>
	
	<delete id="deleteFileAll" parameterType="FaqFilesDTO">
		DELETE FAQFILES WHERE FAQNUM = #{faqNum}
	</delete>
	
  </mapper>