<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.movie.plex.movies.MovieDAO">
	<insert id="addJsonList" parameterType="List">
		INSERT ALL 
		<foreach collection="list" item="item">
		INTO MOVIES
		(MOVIEID, MOVIETITLE,SHORTPOSTER,LONGPOSTER, RELEASEDATE, OVERVIEW, POPULARITY, TICKETPRICE, MOVIECHECK)
		VALUES(#{item.movieId},#{item.movieTitle},#{item.shortPoster, jdbcType=VARCHAR},#{item.longPoster, jdbcType=VARCHAR},#{item.releaseDate},#{item.overView}, #{item.popularity},#{item.ticketPrice},#{item.movieCheck})
		</foreach>
		SELECT 1 FROM DUAL
	</insert>
  </mapper>