<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.movie.plex.nestcontents.NestContentDAO">
		<insert id="addJsonList" parameterType="List">
		INSERT ALL 
		<foreach collection="list" item="item">
		INTO NESTCONTENTS
		(CONTENTID,CONTENTTITLE,SHORTPOSTER,LONGPOSTER,RELEASEDATE,OVERVIEW,POPULARITY,KIND)
		VALUES(#{item.contentId},#{item.contentTitle},#{item.shortPoster, jdbcType=VARCHAR},#{item.longPoster, jdbcType=VARCHAR},#{item.releaseDate},#{item.overView}, #{item.popularity},#{item.kind})
		</foreach>
		SELECT 1 FROM DUAL
	</insert>
	
	<insert id="addJsonTVList" parameterType="List">
		INSERT ALL
	    <foreach collection="list" item="item" open="" close="" separator=" ">
	        INTO NESTCONTENTS
	        (CONTENTID, CONTENTTITLE, SHORTPOSTER, LONGPOSTER, RELEASEDATE, OVERVIEW, POPULARITY, KIND)
	 			VALUES
	            (#{item.contentId}, 
	            #{item.contentTitle}, 
	            #{item.shortPoster, jdbcType=VARCHAR}, 
	            #{item.longPoster, jdbcType=VARCHAR},
	            #{item.releaseDate}, 
	            #{item.overView}, 
	            #{item.popularity}, 
	            #{item.kind})
	    </foreach>
    	SELECT 1 FROM DUAL
	</insert>
	
	<select id="getTotalCount" parameterType="Pager" resultType="Long">
			SELECT COUNT(CONTENTID) 
			FROM NESTCONTENTS
			WHERE KIND=0
			AND SHORTPOSTER IS NOT NULL
			AND LONGPOSTER IS NOT NULL
	</select>

	<select id="getMovieList"  parameterType="Pager" resultType="nestContentDTO">
			SELECT * FROM
				(SELECT ROWNUM R, M.* FROM
					(
						SELECT * 
						FROM NESTCONTENTS
						WHERE KIND=0
							AND SHORTPOSTER IS NOT NULL
							AND LONGPOSTER IS NOT NULL
						ORDER BY POPULARITY DESC
					) M
				)
			WHERE R BETWEEN #{startNum} AND #{endNum}
	</select>

	<select id="getTvTotalCount" parameterType="Pager" resultType="Long">
			SELECT COUNT(CONTENTID) 
			FROM NESTCONTENTS
			WHERE KIND=1
			AND SHORTPOSTER IS NOT NULL
			AND LONGPOSTER IS NOT NULL
	</select>
	
	<select id="getTvList" parameterType="Pager" resultType="nestContentDTO">
			SELECT * FROM
				(SELECT ROWNUM R, M.* FROM
					(
						SELECT * 
						FROM NESTCONTENTS
						WHERE KIND=1
						AND SHORTPOSTER IS NOT NULL
						AND LONGPOSTER IS NOT NULL
						ORDER BY POPULARITY DESC
					) M
				)
			WHERE R BETWEEN #{startNum} AND #{endNum}
	</select>

	<select id="getMovieDetail" parameterType="long" resultMap="MovieDetailResult">
	    SELECT NC.*, 
	    		r.REVIEWID , r.REVIEWCONTENTS , r.REVIEWDATE , 
		        r.REVIEWRATE , r.USERNUM ,
		        U.USERNAME
		FROM NESTCONTENTS NC
		LEFT JOIN REVIEW r ON NC.CONTENTID  = r.CONTENTID
		LEFT JOIN USERS U ON R.USERNUM = U.USERNUM
		WHERE NC.CONTENTID = #{contentId}
	</select>

	
	<resultMap id="MovieDetailResult"  type="NestContentDTO">
    <id property="contentId" column="CONTENTID"/>
    <result property="contentTitle" column="CONTENTTITLE"/>
    <result property="shortPoster" column="SHORTPOSTER"/>
    <result property="longPoster" column="LONGPOSTER"/>
    <result property="releaseDate" column="RELEASEDATE"/>
    <result property="overView" column="OVERVIEW"/>
    <result property="popularity" column="POPULARITY"/>
    <result property="kind" column="KIND"/>
    
    <collection property="reviewList" ofType="ReviewDTO" javaType="java.util.ArrayList">
        <id property="reviewId" column="REVIEWID"/>
        <result property="reviewContents" column="REVIEWCONTENTS"/>
        <result property="reviewDate" column="REVIEWDATE"/>
        <result property="reviewRate" column="REVIEWRATE"/>
        <result property="kind" column="KIND"/>
        <result property="userNum" column="USERNUM"/>
        <result property="contentId" column="CONTENTID"/>
         <result property="userName" column="USERNAME"/>
    </collection>
	</resultMap>


	
	<select id="getTvDetail" parameterType="long" resultMap="TvDetailResult">
		SELECT NC.*, 
	    		r.REVIEWID , r.REVIEWCONTENTS , r.REVIEWDATE , 
		        r.REVIEWRATE , r.USERNUM ,
		        U.USERNAME
		FROM NESTCONTENTS NC
		LEFT JOIN REVIEW r ON NC.CONTENTID  = r.CONTENTID
		LEFT JOIN USERS U ON R.USERNUM = U.USERNUM
		WHERE NC.CONTENTID = #{contentId}
	</select>

<resultMap id="TvDetailResult"  type="NestContentDTO">
    <id property="contentId" column="CONTENTID"/>
    <result property="contentTitle" column="CONTENTTITLE"/>
    <result property="shortPoster" column="SHORTPOSTER"/>
    <result property="longPoster" column="LONGPOSTER"/>
    <result property="releaseDate" column="RELEASEDATE"/>
    <result property="overView" column="OVERVIEW"/>
    <result property="popularity" column="POPULARITY"/>
    <result property="kind" column="KIND"/>
    
    <collection property="reviewList" ofType="ReviewDTO" javaType="java.util.ArrayList">
        <id property="reviewId" column="REVIEWID"/>
        <result property="reviewContents" column="REVIEWCONTENTS"/>
        <result property="reviewDate" column="REVIEWDATE"/>
        <result property="reviewRate" column="REVIEWRATE"/>
        <result property="kind" column="KIND"/>
        <result property="userNum" column="USERNUM"/>
        <result property="contentId" column="CONTENTID"/>
        <result property="userName" column="USERNAME"/>
    </collection>
	</resultMap>









	
  </mapper>