<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.movie.plex.boards.notice.NoticeDAO">
	<select id="getList" resultMap="getResult" parameterType="Pager">
		SELECT * FROM (SELECT ROWNUM R,M.* FROM (
			SELECT *
				FROM NOTICE N
	    		JOIN USERS U ON N.USERNUM = U.USERNUM
			<include refid="search"/>
		ORDER BY NOTICENUM DESC)M)
		WHERE R BETWEEN #{startNum} AND #{lastNum}
	</select>
	
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NOTICENUM) 
			FROM NOTICE N
		    JOIN USERS U ON N.USERNUM = U.USERNUM
		<include refid="search"/> 
	</select>
	
	<select id="getDetail" resultMap="getDetailResult" parameterType="NoticeDTO">
		SELECT * FROM NOTICE 
		LEFT OUTER JOIN USERS
		USING(USERNUM)
		LEFT OUTER JOIN NOTICEFILES
		USING (NOTICENUM)
		WHERE NOTICENUM =#{noticeNum}
	</select>
	
	<insert id="add" parameterType="NoticeDTO">
		<selectKey order="BEFORE" keyProperty="noticeNum" resultType="Long">
			SELECT NOTICENUM_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO NOTICE
		VALUES (#{noticeNum},#{boardTitle},#{boardContents},SYSDATE,0,#{userNum})
	</insert>
	
	<insert id="addFile" parameterType="NoticeFilesDTO">
		INSERT INTO NOTICEFILES VALUES (FILENUM_SEQ.NEXTVAL, #{fileName}, #{oldName}, #{noticeNum})
	</insert>
	
	<update id="update" parameterType="NoticeDTO">
		UPDATE NOTICE SET BOARDTITLE=#{boardTitle}, BOARDCONTENTS=#{boardContents} WHERE NOTICENUM=#{noticeNum}
	</update>
	
	<update id="updateHit" parameterType="NoticeDTO">
		UPDATE NOTICE SET BOARDHIT=BOARDHIT+1 WHERE NOTICENUM=#{noticeNum}
	</update>
	
	<delete id="delete" parameterType="NoticeDTO">
		DELETE NOTICE WHERE NOTICENUM =#{noticeNum}
	</delete>
	
	<select id="getFileDetail" parameterType="NoticeFilesDTO" resultType="NoticeFilesDTO">
		SELECT * FROM NOTICEFILES WHERE FILENUM = #{fileNum}
	</select>
	
	<delete id="deleteFile" parameterType="NoticeFilesDTO">
		DELETE NOTICEFILES WHERE FILENUM = #{fileNum}
	</delete>
	
	<delete id="deleteFileAll" parameterType="NoticeFilesDTO">
		DELETE NOTICEFILES WHERE NOTICENUM = #{noticeNum}
	</delete>
	
	<resultMap type="NoticeDTO" id="getResult">
  		<id column="NOTICENUM" property="noticeNum"/>
  		<result column="BOARDTITLE" property="boardTitle"/>
  		<result column="BOARDCONTENTS" property="boardContents"/>
  		<result column="BOARDDATE" property="boardDate"/>
  		<result column="BOARDHIT" property="boardHit"/>
  		<result column="USERNUM" property="userNum"/>
  		
  		<association property="userDTO" javaType="UserDTO">
	  		<result column="USERID" property="userId"/>
	  		<result column="USERPW" property="userPw"/>
	  		<result column="USEREMAIL" property="userEmail"/>
	  		<result column="USERPHONE" property="userPhone"/>
	  		<result column="USERNAME" property="userName"/>
	  		<result column="USERGRADE" property="userGrade"/>
	  		<result column="REGISTDATE" property="registDate"/>
	  		<result column="USEROUT" property="userOut"/>
	  		<result column="SNS" property="sns"/>
  		</association>
  	</resultMap>
  	
  	 <resultMap type="NoticeDTO" id="getDetailResult">
 		<id column="NOTICENUM" property="noticeNum"/>
  		<result column="BOARDTITLE" property="boardTitle"/>
  		<result column="BOARDCONTENTS" property="boardContents"/>
  		<result column="BOARDDATE" property="boardDate"/>
  		<result column="BOARDHIT" property="boardHit"/>
  		<result column="USERNUM" property="userNum"/>
	  		
	  	  <association property="userDTO" javaType="UserDTO">
	  		<result column="USERID" property="userId"/>
	  		<result column="USERPW" property="userPw"/>
	  		<result column="USEREMAIL" property="userEmail"/>
	  		<result column="USERPHONE" property="userPhone"/>
	  		<result column="USERNAME" property="userName"/>
	  		<result column="USERGRADE" property="userGrade"/>
	  		<result column="REGISTDATE" property="registDate"/>
	  		<result column="USEROUT" property="userOut"/>
	  		<result column="SNS" property="sns"/>
  		  </association>
	  		
  		<collection property="noticeFilesDTOs" javaType="List" ofType="NoticeFilesDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="OLDNAME" property="oldName"/>
  		</collection>
  		
  	</resultMap>
  	
		<sql id="search">
			WHERE
		    <choose>
		        <when test="kind == 'k2'">
		            U.USERNAME LIKE '%' || #{search} || '%'
		        </when>
		        <when test="kind == 'k3'">
		            U.USERNAME LIKE '%' || #{search} || '%' OR N.BOARDTITLE LIKE '%' || #{search} || '%'
		        </when>
		        <otherwise>
		            N.BOARDTITLE LIKE '%' || #{search} || '%'
		        </otherwise>	
		    </choose>	
		</sql>
  </mapper>