<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.movie.plex.reviewusers.ReviewUserDAO">
	
	<select id="getMyReviews" resultType="ReviewDTO">
	    SELECT *
	    FROM review
	    WHERE userNum = #{userNum}
	      AND kind = #{kind}
	    ORDER BY reviewDate DESC
	</select>
	
	<select id="getMyComments" resultType="ReviewCommentDTO">
	    SELECT rc.*
	    FROM reviewcomment rc
	    JOIN review r ON rc.reviewId = r.reviewId
	    WHERE rc.userNum = #{userNum}
	      AND r.kind = #{kind}
	    ORDER BY rc.commentDate DESC
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
  </mapper>