<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.plex.theater.TheaterDAO">
	<insert id="addTheater" parameterType="TheaterDTO">
		INSERT INTO
		THEATER(THEATERID, THEATERSTART, THEATEREND, THEATERNAME,
		MOVIEID, KIND)
		VALUES(THEATER_SEQ.NEXTVAL,
		#{theaterStart},
		#{theaterEnd},#{theaterName}, #{movieId}, 0)
	</insert>

	<select id="getList" parameterType="TheaterDTO"
		resultType="TheaterDTO">
		SELECT * FROM THEATER WHERE MOVIEID = #{movieId}
	</select>
	
	<select id="getTheaterList" parameterType="TheaterDTO" resultMap="getDayListResult">
		SELECT T.*, M.MOVIETITLE
		FROM THEATER T
		JOIN
		MOVIES M
		ON T.MOVIEID = M.MOVIEID
		WHERE TRUNC(THEATERSTART) = #{theaterStart}
		<if test="theaterName != null">
			AND THEATERNAME = #{theaterName}
		</if>
		<if test="movieId != null">
			AND T.MOVIEID = #{movieId}
		</if>
	</select>

	<select id="getDayList" parameterType="TheaterDTO"
		resultMap="getDayListResult">
		SELECT M.MOVIETITLE, T.*
		FROM (
		SELECT *
		FROM THEATER
		WHERE
		THEATERNAME = #{theaterName}
		AND (
		TRUNC(THEATERSTART) = #{theaterStart}
		OR TRUNC(THEATEREND) = #{theaterStart}
		) )T
		JOIN MOVIES M ON
		T.MOVIEID =
		M.MOVIEID
		ORDER BY THEATERSTART
	</select>
	<resultMap type="TheaterDTO" id="getDayListResult">
		<id column="theaterId" property="theaterId" />
		<result column="THEATERID" property="theaterId" />
		<result column="THEATERSTART" property="theaterStart" />
		<result column="THEATEREND" property="theaterEnd" />
		<result column="THEATERNAME" property="theaterName" />
		<result column="MOVIEID" property="movieId" />
		<result column="KIND" property="kind" />

		<!-- 1대 1 관계에서는 association -->
		<association property="movieDTO" javaType="MovieDTO">
			<result column="MOVIETITLE" property="movieTitle" />
		</association>

	</resultMap>
	
	<delete id="deleteTheater" parameterType="TheaterDTO">
		DELETE THEATER WHERE THEATERID = #{theaterId}
	</delete>

	<select id="checkTime" parameterType="TheaterDTO" resultType="int">
		SELECT COUNT(*)
		FROM THEATER
		WHERE THEATERNAME = #{theaterName}
		AND THEATERSTART &lt; #{theaterEnd}
		AND THEATEREND &gt; #{theaterStart}
	</select>
	
	<select id="deleteCheck" parameterType="TheaterDTO" resultType="int">
		SELECT COUNT(*) FROM MOVIEBOOKS WHERE THEATERID = #{theaterId}
	</select>
	
	
</mapper>