<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.movie.plex.users.UserDAO">
  	<select id="getLogin" resultType="UserDTO" parameterType="UserDTO">
  		SELECT * FROM USERS WHERE USERID=#{userId}
  	</select>
  	
  	<insert id="join" parameterType="UserDTO">
  		INSERT INTO USERS
  		VALUES(USERNUM_SEQ.NEXTVAL, #{userId}, #{userPw},#{userEmail},#{userPhone},#{userName},0,SYSDATE,0,0)
  	</insert>
  	
  	<insert id="kakaoJoin" parameterType="UserDTO">
  		INSERT INTO USERS
  		VALUES(USERNUM_SEQ.NEXTVAL, #{userId}, #{userPw},#{userEmail},#{userPhone},#{userName},0,SYSDATE,0,1)
  	</insert>
  	
  	<select id="findEmail" parameterType="String" resultType="UserDTO">
  		SELECT * FROM USERS WHERE USEREMAIL =#{userEmail}
  	</select>
  	
  	<select id="getDetail" parameterType="String" resultType="UserDTO">
  		SELECT * FROM USERS WHERE USERID = #{userId}
  	</select>
  	
  	<update id="update" parameterType="UserDTO">
  		UPDATE USERS SET USERNAME=#{userName}, USEREMAIL=#{userEmail}, USERPHONE=#{userPhone}, USERPW=#{userPw} WHERE USERID = #{userId}
  	</update>
  	
  	<update id="inactive" parameterType="UserDTO">
  		UPDATE USERS SET USEROUT=#{userOut} WHERE USERID=#{userId}
  	</update>
  </mapper>